<div class="container cidenet-container">
  <div class="row">
    <div class="content col-12">
      <div class="action-row mb-4">
        <a routerLink="add" class=" btn btn-primary">Agregar nuevo empleado</a>
      </div>
      <h3 class="cidenet-title">Lista de empleados</h3>
      <hr>
      <div class="table-responsive">
        <table
          datatable
          class="table-employee__cidenet-test table table-light table-striped table table-bordered row-border hover"
          [dtOptions] = "dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombres</th>
              <th scope="col">Primer Apellido</th>
              <th scope="col">Segundo Apellido</th>
              <th scope="col">Otros nombres</th>
              <th scope="col">Identificación</th>
              <th scope="col" width="300">Email</th>
              <th scope="col">País</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of listEmployee">
              <th scope="row">{{ employee.id }}</th>
              <td>{{ employee.primerNombre }}</td>
              <td>{{ employee.primerApellido }}</td>
              <td>{{ employee.segundoApellido }}</td>
              <td>{{ employee.otrosNombres }}</td>
              <td>{{ employee.identificacion }}</td>
              <td>
                <span class="text-dark">{{ employee.email }}</span>
              </td>
              <td>{{ employee.nombrePais }}</td>
              <td>{{ employee.estado }}</td>
              <td>
                <div class="actions-container d-flex">
                  <a
                    type="button"
                    class="btn btn-warning"
                    routerLink="edit/{{employee.id}}"
                  >
                  Editar
                  </a>
                  <button
                    type="button"
                    class="btn btn-danger ml-3"
                    (click)="deleteEmployee(employee.id)"
                  >Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div
            class="modal"
            tabindex="-1"
            role="dialog"
            [ngStyle]="{'display':displayStyleDialog}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Operación exitosa</h4>
              </div>
              <div class="modal-body">
                <p>Se ha realizado correctamente la {{ actionForm }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        (click)="closePopup()">
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
