<div class="container cidenet-container">
  <div class="row">
    <div class="content col-12">

          <!-- action header  -->
          <div class="action-row mb-4">
            <a routerLink="" class=" btn btn-primary">Regresar al Listado de empleados</a>
          </div>
          <!-- / action header  -->

          <!-- card -->
          <div class="card text-center">
            <div class="card-header">
              <h3 class="cidenet-title">Nuevo empleado</h3>
            </div>
            <div class="card-body">
              <!-- form  -->
              <form
                class="row g-3"
                [formGroup]="addEmployeeForm"
                (ngSubmit)="saveEmployeeHandle()"
              >
                <!-- Primer nombre -->
                <div class="col-md-4">
                  <label>Primer nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="primerNombre"
                    [class.is-invalid]="primerNombre.touched &&
                      primerNombre.invalid"
                    [class.is-valid]="primerNombre.touched &&
                      primerNombre.valid"
                    (keypress)="changeinput($event, 21)"
                  >
                  <div class="valid-feedback">
                    ¡Campo correcto!
                  </div>
                  <div class="invalid-feedback">
                    <ng-template [ngIf]="primerNombre.errors && primerNombre.errors.required">
                      Este campo es requerido.<br>
                    </ng-template>
                    <ng-template [ngIf]="primerNombre.errors && primerNombre.errors.pattern">
                      Debe ingresar solo Letras de la A-Z, a-z sin caractéres extraños, sin la letra 'Ñ' ni espacios en blanco<br>
                    </ng-template>
                    <ng-template [ngIf]="primerNombre.errors && primerNombre.errors.maxlength">
                      Solo se permite como máximo, {{primerNombre.errors.maxlength.requiredLength}} caracteres.<br>
                    </ng-template>
                  </div>
                </div>

                <!-- Primer apellido -->
                <div class="col-md-4">
                  <label>Primer Apellido</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="primerApellido"
                    [class.is-invalid]="primerApellido.touched &&
                      primerApellido.invalid"
                    [class.is-valid]="primerApellido.touched &&
                      primerApellido.valid"
                    (keypress)="changeinput($event, 21)"
                  >
                  <!-- {{ primerApellido.errors | json}} -->
                  <div class="valid-feedback">
                    ¡Campo correcto!
                  </div>
                  <div class="invalid-feedback">
                    <ng-template [ngIf]="primerApellido.errors && primerApellido.errors.required">
                      Este campo es requerido.<br>
                    </ng-template>
                    <ng-template [ngIf]="primerApellido.errors && primerApellido.errors.pattern">
                      Debe ingresar solo Letras de la A-Z, a-z sin caractéres extraños, sin la letra 'Ñ' ni espacios en blanco<br>
                    </ng-template>
                    <ng-template [ngIf]="primerApellido.errors && primerApellido.errors.maxlength">
                      Solo se permite como máximo, {{primerApellido.errors.maxlength.requiredLength}} caracteres.<br>
                    </ng-template>
                  </div>
                </div>

                <!-- Segundo apellido -->
                <div class="col-md-4">
                  <label>Segundo Apellido</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="segundoApellido"
                    [class.is-invalid]="segundoApellido.touched &&
                      segundoApellido.invalid"
                    [class.is-valid]="segundoApellido.touched &&
                      segundoApellido.valid"
                    (keypress)="changeinput($event, 21)"
                  >
                  <div class="valid-feedback">
                    ¡Campo correcto!
                  </div>
                  <div class="invalid-feedback">
                    <ng-template [ngIf]="segundoApellido.errors && segundoApellido.errors.required">
                      Este campo es requerido.<br>
                    </ng-template>
                    <ng-template [ngIf]="segundoApellido.errors && segundoApellido.errors.pattern">
                      Debe ingresar solo Letras de la A-Z, a-z sin caractéres extraños, sin la letra 'Ñ' ni espacios en blanco<br>
                    </ng-template>
                    <ng-template [ngIf]="segundoApellido.errors && segundoApellido.errors.maxlength">
                      Solo se permite como máximo, {{segundoApellido.errors.maxlength.requiredLength}} caracteres.<br>
                    </ng-template>
                  </div>
                </div>

                <!-- otros nombres -->
                <div class="col-md-4">
                  <label>Otros nombres</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="otrosNombres"
                    [class.is-invalid]="otrosNombres.touched &&
                      otrosNombres.invalid"
                    [class.is-valid]="otrosNombres.touched && otrosNombres.valid"
                    (keypress)="changeinput($event, 51)"
                    (change)="changeOtrosnombres($event)"
                  >
                  <!-- {{ otrosNombres.errors | json }} -->
                  <div class="valid-feedback">
                    ¡Campo correcto!
                  </div>
                  <div class="invalid-feedback">
                    <ng-template [ngIf]="otrosNombres.errors && otrosNombres.errors.required">
                      Este campo es requerido.<br>
                    </ng-template>
                    <ng-template [ngIf]="otrosNombres.errors && otrosNombres.errors.pattern">
                      Debe ingresar solo Letras de la A-Z, a-z sin caractéres extraños, sin la letra 'Ñ'<br>
                    </ng-template>
                    <ng-template [ngIf]="otrosNombres.errors && otrosNombres.errors.maxlength">
                      Solo se permite como máximo, {{ otrosNombres.errors.maxlength.requiredLength }} caracteres.<br>
                    </ng-template>
                  </div>
                </div>

                <!-- país empleo  -->
                <div class="col-md-4">
                  <label class="form-label">País empleo</label>
                  <select
                    class="form-select form-control"
                    formControlName="paisEmpleo"
                    (change)="changepaisEmpleo($event)"
                    [class.is-invalid]="paisEmpleo.touched &&
                      paisEmpleo.invalid"
                    [class.is-valid]="paisEmpleo.touched &&
                      paisEmpleo.valid"
                  >
                    <option [value]="null" disabled>Seleccione...</option>
                    <option *ngFor="let pais of listCountries" [value]="pais.id">
                      {{ pais.nombre }}
                    </option>
                  </select>
                  <div class="valid-feedback">
                    ¡Campo seleccionado!
                  </div>
                  <div class="invalid-feedback">
                    Debe seleccionar un valor de la lista
                  </div>
                </div>

                <!-- TODO: PENDIENTE tipo Identificación  -->
                <div class="col-md-4">
                  <label class="form-label">Tipo de identificación</label>
                  <select
                    class="form-select form-control"
                    formControlName="tipoIdentificacion"
                    (change)="changeTipoIdentificacion($event)"
                    [class.is-invalid]="tipoIdentificacion.touched &&
                      tipoIdentificacion.invalid"
                    [class.is-valid]="tipoIdentificacion.touched &&
                      tipoIdentificacion.valid"
                  >
                    <option [value]="null" disabled>Seleccione...</option>
                    <option *ngFor="let tipo of listTypesIdentification" [value]="tipo.id">
                      {{ tipo.nombre }}
                    </option>
                  </select>
                  <div class="valid-feedback">
                    ¡Campo seleccionado!
                  </div>
                  <div class="invalid-feedback">
                    Debe seleccionar un valor de la lista.
                  </div>
                </div>

                <!-- identificación  -->
                <div class="col-md-4">
                  <label>Identificación</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="identificacion"
                    [class.is-invalid]="identificacion.touched &&
                      identificacion.invalid"
                    [class.is-valid]="identificacion.touched &&
                      identificacion.valid"
                  >
                  <!-- {{ identificacion.errors | json }} -->
                  <div class="valid-feedback">
                    ¡Campo correcto!
                  </div>
                  <div class="invalid-feedback">
                    <ng-template [ngIf]="identificacion.errors && identificacion.errors.required">
                      Este campo es requerido.<br>
                    </ng-template>
                    <ng-template [ngIf]="identificacion.errors && identificacion.errors.pattern">
                      Debe ingresar solo Letras de la A-Z, a-z, números del 0-10, sin caractéres extraños, sin la letra 'Ñ'<br>
                    </ng-template>
                    <ng-template [ngIf]="identificacion.errors && identificacion.errors.maxlength">
                      Solo se permite como máximo, {{identificacion.errors.maxlength.requiredLength}} caracteres.<br>
                    </ng-template>
                  </div>
                </div>

                <!-- Area  -->
                <div class="col-md-4">
                  <label class="form-label">Área</label>
                  <select
                    class="form-select form-control"
                    formControlName="area"
                    (change)="changeArea($event)"
                    [class.is-invalid]="area.touched &&
                      area.invalid"
                    [class.is-valid]="area.touched &&
                      area.valid"
                  >
                    <option [value]="null" disabled>Seleccione...</option>
                    <option *ngFor="let area of listAreas" [value]="area.id">
                      {{ area.nombre }}
                    </option>
                  </select>
                  <div class="valid-feedback">
                    ¡Campo seleccionado!
                  </div>
                  <div class="invalid-feedback">
                    Debe seleccionar un valor de la lista
                  </div>
                </div>

                <!-- Fecha ingreso  -->
                <div class="col-md-4">
                  <label>Fecha de ingreso</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="fechaIngreso"
                    [class.is-invalid]="fechaIngreso.touched &&
                      fechaIngreso.invalid"
                    [class.is-valid]="fechaIngreso.touched &&
                      fechaIngreso.valid"
                    (change)="changeFechaIngreso($event)"
                  >
                  <div class="valid-feedback">
                    Fecha válida
                  </div>
                  <div class="invalid-feedback">
                    <ng-template [ngIf]="fechaIngreso.errors && fechaIngreso.errors.required">
                      Este campo es requerido.<br>
                    </ng-template>
                  </div>
                </div>

                <!-- Acción  -->
                <div class="col-12 text-left mt-3">
                  <hr>
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="!addEmployeeForm.valid"
                  >Guardar</button>
                </div>
              </form>
              <!-- / form  -->
            </div>
            <!-- <div class="card-footer text-muted">
              footer
            </div> -->

            <div
              class="modal"
              tabindex="-1"
              role="dialog"
              [ngStyle]="{'display':displayStyleDialog}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Operación exitosa</h4>
                </div>
                <div class="modal-body">
                  <p>Se ha realizado correctamente la {{ actionForm }}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                          (click)="closePopup()">
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>

          </div><!-- / card  -->

    </div>
  </div>
</div>
