/* footer */
footer.footer-style {
  position: relative;
  margin-top: 3rem;
  padding-top: 50px;
  background: rgb(35,92,172);
  // border-top: 6px solid #0f4086;
}
footer .addon {
  top: 0;
  position: absolute;
  height: 9px;
  background: -moz-linear-gradient(71deg, rgba(0,167,232,1) 24%, rgb(35,92,172) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,167,232,1)), color-stop(100%, rgba(0,83,89,1)));
  background: -webkit-linear-gradient(71deg, rgba(0,167,232,1) 24%, rgb(35,92,172) 100%);
  background: -o-linear-gradient(71deg, rgba(0,167,232,1) 24%, rgb(35,92,172) 100%);
  background: -ms-linear-gradient(71deg, rgba(0,167,232,1) 24%, rgb(35,92,172) 100%);
  background: linear-gradient(71deg, rgba(0,167,232,1) 24%, rgb(35,92,172) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#005359',GradientType=1 );
}
footer {
color: white;
}
footer h3 {
margin-bottom: 30px;
  font-weight: 800;
}
footer .footer-above {
padding-top: 50px;
background-color: #2C3E50;
}
footer .footer-col {
margin-bottom: 30px;
}
footer .footer-below {
padding: 25px 0;
background-color: #233140;
}
.prueba-cidenet__footer {
  padding: 30px;
  margin-top: 2.5rem;
  // background: linear-gradient(180deg, rgba(35,92,172,1) 0%, rgba(0,167,232,1) 100%);
}
// LOGO PERSONAL
.jd-marca-personal {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #00acb9;
  background: #16232e;
}
.jd-marca-personal img{
  width: 35px;
}
.item-contacto {
  border-bottom: 3px solid rgba(255,255,255,0.1);
  padding-bottom: 6px;
}
