
<footer class="text-center footer-style">
  <div class="addon container-fluid">
      <div class="row">
          <!--<div class="col-8 col-main"></div>-->
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-4 footer-col">
              <h3 class="item-contacto">Dirección</h3>
              <p>
                  Calle 36 #25-56 <br />
                  Calarcá / Quindío
              </p>
          </div>
          <div class="col-md-4 footer-col">
              <h3 class="item-contacto">Mis redes y contacto</h3>
              <ul class="list-inline d-flex justify-content-around">
                  <li>
                    <a  title="Acceso a mi página web personal" target="_blank" href="https://jaimediaz.dev" class="jd-marca-personal btn-social btn-outline">
                      <img src="https://jaimediaz.dev/images/jd_white.svg" alt="">
                    </a>
                  </li>
                  <li>
                    <a  title="Acceso a mis repositorios de Github" target="_blank" href="https://github.com/jaimediaz817" class="btn-social btn-outline"><i class="h2 fab fa-github-square text-white"></i></a>
                  </li>
                  <li>
                      <a title="Acceso a mi perfil LinkedIn" target="_blank" href="https://www.linkedin.com/in/jdiaz817/" class="btn-social btn-outline"><i class="h2 fab fa-linkedin text-white"></i></a>
                  </li>
                  <li>
                      <a title="Acceso a mi perfil Facebook" target="_blank" href="https://www.facebook.com/jdiaz.817" class="btn-social btn-outline"><i class="h2 fab fa-facebook text-white"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4 footer-col">
              <h3 class="item-contacto">Un poco sobre mí</h3>
                <p>Tengo 8 años de experiencia en maquetación web, Desarrollo Backend y Frontend y soporte a aplicaciones de terceros. Mi frase favorita es: "La disciplina tarde que temprano, vencerá a la inteligencia", soy muy apasionado por lo que hago en el día a día.</p>
          </div>
      </div>
  </div>
</footer>
