<nav class="navbar-prueba__cidenet navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand cidenet-logo" routerLink="/">
        <img
          alt="Cidenet"
          data-src="https://www.cidenet.com.co/wp-content/uploads/2021/04/cidenet-software-a-la-medida-medellin.png" class="img-responsive  lazyloaded" src="https://www.cidenet.com.co/wp-content/uploads/2021/04/cidenet-software-a-la-medida-medellin.png"
        >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
              <a routerLink="/" routerLinkActive="active" class="nav-link text-white item-cidenet">Listar Empleados</a>
            </li>
            <li class="nav-item">
              <a routerLink="add" routerLinkActive="active" class="nav-link text-white item-cidenet">Agregar Empleado</a>
            </li>
        </ul>
      </div>
  </div>
</nav>
