.navbar-prueba__cidenet {
  background: rgb(35,92,172);
  background: linear-gradient(180deg, rgba(35,92,172,1) 0%, rgba(0,167,232,1) 100%);
}
.navbar-brand.cidenet-logo img {
  width: 100px;
}
.item-cidenet {
  border-radius: 16px;
  border: 2px solid white;
  transition: .5s;
}
.item-cidenet:hover {
  color: rgb(35,92,172)!important;
  background: white;
}
.item-cidenet.active {
}

