/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.cidenet-container {
  margin-top: 2.5rem;
  border: solid #dcdedf;
  border-radius: 0.95rem;
  padding: 1.5rem 3rem;
}

// agregando mayor grado de especificidad
.container.cidenet-container {
  background: #fff;
}

.modal-dialog::after {
  content: "";
  position: fixed;
  background: rgba(1,1,1,0.7);
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

body {
  height: 100vh;
  background: #f7f7f7;
}

h3.cidenet-title {
  color: rgb(35,92,172);
}

